<div id="wrapper">

  <div id="baseView" *ngIf="state == 'base'">

    <div class="button" id="loginButton" (click)="clickLogin()">Login</div>
    <div class="button" id="createAccountButton">Create account</div>
    <input type="file" #fileInput/>

  </div>

  <div id="login" *ngIf="state == 'login'">

    <input type="password" placeholder="Password"/>
    <div class="button" id="submitButton">Submit</div>

  </div>

  <div class="fullFrame" id="register" *ngIf="state == 'register'">

  </div>

</div>
