<div id="mainFrame">

  <div id="sideMenu">

    <div class="menuLink" id="accountLink" routerLink="/account" routerLinkActive="active">Account</div>
    <div class="menuLink" id="sendLink" routerLink="/send" routerLinkActive="active">Send</div>
    <div class="menuLink" id="mineLink" routerLink="/mine" routerLinkActive="active">Mine</div>
    <div class="menuLink" id="exploreLink" routerLink="/explore" routerLinkActive="active">Explore</div>

  </div>

  <div id="mainView">

    <router-outlet></router-outlet>
  </div>

</div>

<div id="logo">RENO</div>
